.cardItem--Infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.cardItem--Recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.cardItem--Deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}