*{
  margin: 0;
  box-sizing: inherit;
}
.App{
  display:flex;
  margin: 0 10px;
}
.app__left{
  flex: 3;
  margin: 0 10px;
}
.app__right{
  flex: 1;
}
.app__stats{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardItem--infected{
    border-bottom: 5px solid blue;
}
.table__content{
  text-align: center;
  height: 100vh;
  overflow-y: scroll;
}
